# Байт-код и кэш
__pycache__/

# Виртуальные окружения
venv/
.env

# Дистрибутивы и артефакты упаковки
dist/
EGG-INFO
*.egg-info/
*.EGG-INFO/

# Файлы сборок
build/

# Файлы покрытия тестов и кэши
.coverage
*.py,cover
.cache/

# Контрольные точки Jupyter Notebook
.ipynb_checkpoints

# Логи и временные файлы
*.log
*.tmp

# Системные файлы (для macOS и Windows)
.DS_Store
Thumbs.db

# Папки IDE
.idea/
.vscode/
.vs